.login-form{
    margin: 0 auto;
    width: 350px;
    margin-top: 35px;
    background-color: #b3d7ff;
    border-radius: 10px;
    padding: 15px;

}

.login-form .img img{
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    align-items: center;
}

.login-form .container{
    margin-top: 20px;
    margin-bottom: 10px;
}

.login-cadastro{
    margin: 0 auto;
    width: 350px;    
    padding: 15px;
    text-align: center;

}

.login-cadastro a{
    text-decoration: none;
}